#container{
    border: 2px solid red;
    display: grid;
    grid-template-columns: repeat(16, 12px);
    grid-template-rows: repeat(16,12px);
  
}

#container>div{
    background-color: pink;
    border: 1px solid black;
}

