#container{
    border: 2px solid red;
    display: grid;
    grid-template-columns: repeat(16, 12px);
    grid-template-rows: repeat(16,12px);
  
}

#container>div{
    background-color: white;
    border: 1px solid black;
    transition: 2s;

}

#container > div:hover{
    background-color: black;
    transition: 0s;
}